<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBPAGE Document</title>
</head>
<body>
    <center>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="tn">Topic_name</label>
            <select name="tn" id="tn">
                
                {% for to in LTO%}
                <option value="{{to}}">{{to.topic_name}}</option>
                {% endfor %}
            </select>
        </form>
    </center>
</body>
</html>